<a href="{{url}}" class="map-link" data-type="map" data-action="add" id="btn-add-map-{{id}}" data-toggle="modal" data-target="#mapModal"
                data-section-id="{{id}}" data-latlng="{{url}}" >{{url}}</a>